body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	background-color: #d5dbe5;
}

button {
	margin-top: 100px;
	width: 250px;
	height: 40px;
	background-color: #edeff2;
	box-shadow: 22px 20px 78px -16px black;
	font-size: 16px;
	text-decoration: none;
}

svg {
	padding-right: 20px;
	color: red;
}
